<!DOCTYPE html>
<html>

<head>
    <title>
        {{title}}
    </title>
    {{> stylesheet }}
</head>

<body>
    {{> header }}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h4 class="text-muted">Softwares</h4>
            </div>
        </div>
        <hr />

        {{#if topSoftwares}}
            <h3>Top Softwares</h3>
        {{/if}}

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Tag</th>
                    <th scope="col">Rating</th>
                </tr>
            </thead>
            <tbody>
                {{#each softwares as | soft | }}
                    <tr>
                        <th scope="row">{{inc @index}}</th>
                        <td><a target="_blank">{{name}}</a></td>
                        <td>{{tag}}</td>
                        <td>{{rating}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    {{> footer}}
    {{> javascript }}
</body>

</html>